	{% block footer %}
	        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="footer__lang f16 list-inline">
                  <li class="flag fr"><a href="{{ path("cg_main_index", {"_locale": "fr"}) }}">Français</a></li>
                  <li class="flag de"><a href="{{ path("cg_main_index", {"_locale": "de"}) }}">Deutsch</a></li>
                  <li class="flag gb"><a href="{{ path("cg_main_index", {"_locale": "en"}) }}">English</a></li>
                </ul>
                </div>
            </div>
        </footer>
	{% endblock %}