{% extends sonata_block.templates.block_base %}

{% block block %}
    <h3 class="sonata-news-title">{{ settings.title }}</h3>
    <p>Description</p>
    <div class="sonata-news-container">
        <ul>

        <li>item1</li>
        <li>item2</li>
        <li>item3</li>
        </ul>
    </div>
    <p>Liste </p>
    <div class="sonata-news-container">
        <ul>

        <li>item1</li>
        <li>item2</li>
        <li>item3</li>
        </ul>
    </div>
{% endblock %}
